#ECE{
    flex-direction: column;
    padding-bottom: 20px;
}
.ece-headings {
    margin-left: 10px;
   
 }
 .ece-headings button{
     border: none;
     border-radius: 4px;
     height: 30px;
     margin-left: 20px;
     transition: 0.4s ease-in-out;
     width: 100px;
 }
 .ece-headings button:hover{
     transform: scale(1.1);
     background-color: brown;
     color: white;
 }
 .ece-container p,.ece-container li{
    padding: 0 30px;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 #Syllabus{
    padding: 20px 0px;
 }
 .professors{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
 }
 .prof{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 30px auto;
    width: 250px;
    height: 200px;
    box-shadow: 1px 2px 2px rgb(224, 224, 224);
    background-color: rgb(237, 229, 213);
    border-radius: 10px; 
 }