.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.login-container h2 {
    text-align: center;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}
.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.login-container input[type="submit"]:hover {
    background-color: #45a049;
}
.forgot-password {
    padding-top: 10px;
    text-align: center;
}
.forgot-password a {
    color: #007bff;
    text-decoration: none;
}

#SAC{
    flex-direction: column;
    padding-top: 100px;
}
.container h1{
    margin-left: 30px;
    color: darkred;
}
#SAC img{
    display: flex;
    margin: auto;
    width: 400px;
}
#SAC p{
    padding: 0 30px;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}